<div class="col-md-6">
    <form role="form" id="questForm" ng-submit="submit()">
        <div class="form-group">
            <label for="question">Question:</label>
            <input type="text" class="form-control" id="question" ng-model="question.question" required>        
        </div>
        <br>
        <br>
        <div class="form-group">
            <div ng-repeat="option in question.options" class="input-group">
                <label for="answer">Answer {{$index+1}}:</label>
                <span class="input-group-addon">
                    <input type="radio" name="correctAns" value="{{$index}}" ng-model="question.correctIndex">     
                </span>
                <input type="text" class="form-control" id="answer1" ng-model="option.text">

            </div>
            <!--
            <div class="input-group">
                <label for="answer2">Answer 2:</label>
                <span class="input-group-addon">
                    <input type="radio" name="correctAns" ng-model="question.correctAns" value="{{question}}">     
                </span>
                <input type="text" class="form-control" id="answer2" ng-model="question.opt2">          
            </div>
            <div class="input-group">
                <label for="answer3">Answer 3:</label>
                <span class="input-group-addon">
                    <input type="radio" name="correctAns" ng-model="question.correctAns" value="{{question.opt3}}">     
                </span>
                <input type="text" class="form-control" id="answer3" ng-model="question.opt3">          
            </div>
            <div class="input-group">
                <label for="answer4">Answer 4:</label>
                <span class="input-group-addon">
                    <input type="radio" name="correctAns" ng-model="question.correctAns" value="{{question.opt4}}">     
                </span>
                <input type="text" class="form-control" id="answer4" ng-model="question.opt4">          
            </div>-->
            <br>
            <div class="input-group">
                <label for="points">Points :</label>
                <input type="number" class="form-control" id="points" ng-model="question.points">          
            </div>
        </div>
        <br>
        <input class="btn btn-success" type="submit" id="submit" value="Submit">
        <span>question = {{question}}</span>
    </form>
</div>
<div class="col-md-6">
    <img width="200" src="{{question.qr?('/museum/webresources/question/'+question.id+'/qr'):'img/icon.png'}}"/>
    <button ng-if="question.id" ng-click="question.qr=true">Generate QR-code</button>
    <button ng-if="question.qr" ng-click="printQR()">Print QR-code</button>
</div>