<div class="col-md-3">
    <form role="form">
        <div class="form-group">
            <label for="title">Quiz Title</label>
            <input ng-model="quiz.title" class="form-control" type="text" ng-required="true" id="title">
        </div>
        <div class="form-group well well-sm">
            <label for="question1">Question</label>
            <textarea ng-model="quiz.questions.question1" class="form-control" id="question1"></textarea>
        </div>
    </form>
    <button type="submit" class="btn btn-success">Save Quiz</button>
</div>
