<ion-side-menus enable-menu-with-back-views="true">

  <ion-pane ion-side-menu-content>

    <div class="bar bar-header">
        <button ng-click="leftMenuClick()" class="button button-icon icon {{backEnabled?'ion-ios-arrow-back':'ion-navicon'}}"></button>
        <div class="h1 title"></div>
    </div>

    <ion-nav-view name="menuContent"></ion-nav-view>

  </ion-pane>

  <!-- Left main navigation menu -->

  <ion-side-menu side="left" class="navigationMenu" width="250">

    <div class="menuHeader">
      <div class="profilePicture" ng-click="changeProfileImage()" style="background:url(https://graph.facebook.com/{{currentUser.fbId}}/picture?type=large) no-repeat center center;background-size:cover;"></div>
      <h3>{{$root.currentUser.username}}</h3>
    </div>
    <div class="list menu-list">
        <div ng-click="{{menuitem.onClick}}" ng-repeat="menuitem in menuItems" class="item item-button-right">
            {{menuitem.text}}
            <button class="button button-positive">
                <i class="icon {{menuitem.icon}}"></i>
            </button>
        </div>
    </div>
  </ion-side-menu>

  
</ion-side-menus>