
<ion-view class="museums">
    <div class="bar bar-header">
        <button class="button button-icon icon ion-navicon"></button>
        <div class="h1 title">Museum i närheten</div>
    </div>
        
    <div class="list museums-list">
        <div ng-repeat="museum in museums" class="item item-button-right">
            {{museum.name}}
            <button class="button button-positive">
                <i class="icon ion-android-map"></i>
            </button>
        </div>
    </div>
</ion-view>

