
/* 
    Created on : 2016-mar-07, 14:44:17
    Author     : Sebastian
*/

.answerOp{
    text-align: center;
    margin-top: 10px;
    border-radius: 20px !important;
    background-color: activeborder;
    color: white;
}

.question-box{
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ddd;
    height: 50px;
    background-color: white;
    display: table-cell;
    vertical-align: middle;
}
