
/* 
    Created on : 2016-mar-07, 14:44:17
    Author     : Sebastian
*/

.well-white{
    background-color: white;
}

.img-container{
    text-align: center;
}

.center-content{
    text-align: center;
}

.navbar{
    min-height: 70px;
    border-radius: 0px;
}

.sign-out-btn{
    margin-top:8px
}

.page-header{
    margin: 20px 0 20px;
}

.brand-img{
    width: 40px;
}

.answerOp{
    text-align: center;
    margin-top: 20px;
    border-radius: 20px !important;
    cursor: pointer;
}

.answerOp-blue{
    background-color: #428bca;
    color: white;
}

.answerOp-blue:hover{
    background-color: #3276b1;
}

.answerOp:active{
    box-shadow: inset 0px 5px 20px 0px rgba(0,0,0,0.2);
}

.answerOp-green{
    background-color: #5cb85c;
    color: white;
}

.answerOp-green:hover{
    background-color: #47A447;
}

.answerOp-icon{
    font-size: 30px; 
}

.answerOp a{
    color: white;
}
