<!DOCTYPE html>
<html ng-app="museumApp">
    <head>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.css" />
        <link rel="stylesheet" type="text/css" href="styles/styles.css">

        
        <title>Museumsjakten - Admin Panel</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        
        <!-- Navbar -->
        <nav class="navbar navbar-default backg-green">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand text-white" href="#/login">
                    <img alt="brand" class="brand-img" src="img/icon_w_text.png"/>
                    MuseumsJakten
                </a>         
              </div>
                <div ng-if="currentUser" class="navbar-form navbar-right navbar-user-box">
                    <a class="navbar-link text-white navbar-user">{{currentUser.username}} </a>
                    <a ng-click="signOut()" role="button" class="btn btn-default" href="#/login">Sign Out</a>
                </div>
            </div>
        </nav>
        
        <!-- Main Content -->
        <div ng-view></div>
        
        
        
        <!-- External scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
        <script src="//cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>
        
   
        <!-- Application scripts -->
        <script src="app/app.js"></script>
        <script src="app/services/routing.js"></script>
        <script src="app/services/apiService.js"></script>
        <script src="app/services/printService.js"></script>
        
        <!-- Application Controllers -->
        <script src="app/admin/adminController.js"></script> 
        <script src="app/createQuiz/createQuizController.js"></script> 
        <script src="app/addQuestion/addQuestionController.js"></script>
        <script src="app/login/loginController.js"></script>
        <script src="app/register/registerController.js"></script>
        
        <!-- Application Directives -->
        <script src="app/directives/quizPie/quizPie.js"></script>
    </body>
</html>
