<div>
    
    <div class="col-md-12 page-header">
       <h1>Admin Panel</h1> 
    </div>
    
    <div class="col-md-3">
        <h3><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Quiz</h3>
        <div class="list-group">
            <a class="list-group-item backg-green text-white" href="#/createQuiz">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Create New Quiz
            </a>
            <a href="#/manageQuiz/{{quiz.id}}" 
               class="list-group-item" 
               ng-click="saveId(quiz.id)"
               ng-repeat="quiz in quizzes">
                {{quiz.name}}
            </a>    
        </div>
        
        <!--
        <a class="btn btn-success" role="button" href="#/createQuiz">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Create New Quiz
        </a>
        -->
    </div>
        
    
</div>