<div>
    
    <div class="col-md-12">
        <h2>Admin Panel</h2>
    </div>
    
    <div class="col-md-3">
        <h3>Quiz</h3>
        <div class="list-group">
            <a href="#/manageQuiz/{{quiz.id}}" 
               class="list-group-item" 
               ng-click="saveId(quiz.id)"
               ng-repeat="quiz in quizzes">
                {{quiz.name}}
            </a>    
        </div>
        <a class="btn btn-primary" role="button" href="#/createQuiz">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Add New Quiz
        </a>
    </div>
        
    
</div>